language: julia
os:
  - linux
  # - windows
  # - osx

julia:
  - 1
  - 1.0
  # - nightly

before_script:
  - git config --global user.name "GitUser"
  - git config --global user.email "git@us.er"

codecov: true
after_success:
  - julia -e 'using Pkg; Pkg.add("Coverage"); using Coverage; Codecov.submit(process_folder())'

matrix:
  allow_failures:
    - julia: nightly
  fast_finish: true
  include:
    - stage: "Documentation"
      julia: 1
      os: linux
      script:
         - julia -e 'using Pkg; ENV["PYTHON"]=""; py="PyCall"; Pkg.add(py); Pkg.build(); Pkg.add("PyPlot"); Pkg.add("StaticArrays")'

        - julia --project=docs/ -e 'using Pkg; Pkg.instantiate();
                                    Pkg.develop(PackageSpec(path=pwd()));'
        - julia --project=docs/ docs/make.jl
      after_success: skip
notifications:
  email: false
