language: julia
os:
  - linux

julia:
  - 1.0
  - 1.1
notifications:
  email: false
git:
  depth: 99999999
matrix:
  allow_failures:
  - julia: nightly


jobs:
    include:
      - stage: "Documentation"
        julia: 1.0
        os: linux
        script:
          - julia --project=docs/ -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd()));
                                                 Pkg.instantiate()'
          - julia --project=docs/ docs/make.jl
        after_success: skip

script:
- julia --color=yes -e 'using Pkg; Pkg.build(); Pkg.test()'