name = "Agents"
uuid = "46ada45e-f475-11e8-01d0-f70cc89e6671"
authors = ["George Datseris", "Tim DuBois", "Aayush Sabharwal", "Ali Vahdati", "Adriano Meligrana"]
version = "6.0.1"

[deps]
CSV = "336ed68f-0bac-5ca0-87d4-7b16caf5d00b"
CommonSolve = "38540f10-b2f7-11e9-35d8-d573e4eb0ff2"
DataFrames = "a93c6f00-e57d-5684-b7b6-d8193f3e46c0"
DataStructures = "864edb3b-99cc-5e75-8d2d-829cb0a9cfe8"
Distributed = "8ba89e20-285c-5b6f-9357-94700520ee1b"
Distributions = "31c24e10-a181-5473-b8eb-7969acd0382f"
Downloads = "f43a241f-c20a-4ad4-852c-f6b1247861c6"
Graphs = "86223c79-3864-5bf0-83f7-82e725a168b6"
IteratorSampling = "ef79a3d2-ae9f-5cd2-ab61-e13847810a6e"
JLD2 = "033835bb-8acc-5ee8-8aae-3f567f8a3819"
LazyArtifacts = "4af54fe1-eca0-43a8-85a7-787d91b784e3"
LightOSM = "d1922b25-af4e-4ba3-84af-fe9bea896051"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
MacroTools = "1914dd2f-81c6-5fcd-8719-6d5c9610ff09"
MixedStructTypes = "3d69f371-6fa5-5add-b11c-3293622cad62"
Pkg = "44cfe95a-1eb2-52ea-b672-e2afdf69b78f"
PrecompileTools = "aea7be01-6a6a-4083-8856-8a6e6704d82a"
ProgressMeter = "92933f4c-e287-5a05-a399-4b506db050ca"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
Rotations = "6038ab10-8711-5258-84ad-4b1120ba62dc"
Scratch = "6c6a2e73-6563-6170-7368-637461726353"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"
StatsBase = "2913bbd2-ae8a-5f71-8c99-4fb6c76f3a91"

[weakdeps]
Arrow = "69666777-d1a9-59fb-9406-91d4454c9d45"
GraphMakie = "1ecd5474-83a3-4783-bb4f-06765db800d2"
Makie = "ee78f7c6-11fb-53f2-987a-cfe4a2b5a57a"
OSMMakie = "76b6901f-8821-46bb-9129-841bc9cfe677"

[extensions]
AgentsArrow = "Arrow"
AgentsGraphVisualizations = ["Makie", "GraphMakie"]
AgentsOSMVisualizations = ["Makie", "OSMMakie"]
AgentsVisualizations = "Makie"

[compat]
Arrow = "2"
CSV = "0.9.7, 0.10"
CommonSolve = "0.2.4"
DataFrames = "0.21, 0.22, 1"
DataStructures = "0.18"
Distributed = "1"
Distributions = "0.25"
Downloads = "1"
GraphMakie = "0.5"
Graphs = "1.4"
IteratorSampling = "0.2"
JLD2 = "0.4"
LazyArtifacts = "1.3"
LightOSM = "0.2, 0.3"
LinearAlgebra = "1"
MacroTools = "0.5"
Makie = "0.20"
MixedStructTypes = "0.2"
OSMMakie = "0.0"
Pkg = "1"
PrecompileTools = "1"
ProgressMeter = "1.5"
Random = "1"
Rotations = "1.3"
Scratch = "1"
StaticArrays = "1"
StatsBase = "0.32, 0.33, 0.34"
julia = "1.9"
